body{
	
	background-image: url(imagenes/corpmendoza_fondo.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	
}

.logo{
	height: 85px;
}

#main-container{
	margin: 150px auto;
	width: 90%;
}

table {
	background-color: transparent;
	text-align: left;
	border-collapse: collapse;
	width: 100%;
	padding-right: 20px;
	padding-left: 20px;;
	
}

th, td{
    border-bottom: solid 1px gray;
    padding: 10px;
	text-align: center;
	color: white;
}

thead{
	background-color: rgb(255, 255, 255, 0.1);
	color: white;
}

.boton{
    background-color:#a5d4dd;
    padding: 10px;
    font-weight: bold;
}
