body{
	background-color:#41434e;
}

.logo{
	height: 85px;
}

#main-container{
	margin: 150px auto;
	width: 90%;
}

table {
	background-color: white;
	text-align: left;
	border-collapse: collapse;
	width: 100%;
	padding-right: 20px;
	padding-left: 20px;;
}

th, td{
    border: solid 1px black;
    padding: 20px;
    text-align: center;
}

thead{
	background-color: #a5d4dd;
	color: black;
}

tr:nth-child(even){
	background-color:#9bd1db;
}

.boton{
    background-color:#a5d4dd;
    padding: 10px;
    font-weight: bold;
}
.juan{
	background-color: red;
	padding: 50px;
}