#resumen td {
  color:red !important;
  font-weight:bold !important;
  background-color:  white!important;

}

#resultSearch td{
  color:white !important;
  font-weight:bold !important;
  background-color: skyblue !important;
}